{% extends '_layout.html' %}

{% block pagetitle %}
About
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-md-12 col-12">
		<h1>%% model.title %%</h1>
	</div>
</div>

<div class="row">
	<div class="col-md">
		<p>Simple kiosk application for Raspberry Pi.</p>
		<p>Cycle through images and webpages on a connected monitor.</p>
	</div>
</div>

<div class="row">
	<div class="col-md">
		<p>Technologies used:</p>
		<ul>
			<li>Python</li>
			<li>Flask</li>
			<li>Git</li>
			<li>Chromium Browser</li>
			<li>Raspberry Pi</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-sm">
		<p>Get it on <i class="fa-brands fa-github"></i> Github: <a href="https://github.com/DeShrike/PiKiosk" target="_blank">https://github.com/DeShrike/PiKiosk</a></p>
	</div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
