{% extends '_layout.html' %}

{% block pagetitle %}
Pi Kiosk
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}

<div class="row">
	<div class="col-sm-6">
		<h1>Kiosk Schedule</h1>
	</div>
	{% if model.authenticated %}
	<div class="col-sm-6 ms-text-right">
		<a href="%% url_for('new_item') %%" class="ms-btn btn-secondary"><i class="fa-solid fa-plus"></i> Add</a>
	</div>
	{% endif %}
</div>

<div class="row js-partial-update">
	<div class="col-md-12 col-12">
		<table class="ms-table">
			<thead>
				<tr>
					<th>Type</th>
					<th>Name / Url</th>
					<th class="ms-text-center">Duration</th>
					<th>Mode</th>
					<th>Background<br />Color</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in model.items: %}
				<tr>
					<td>%% item['item'].kind %%</td>
					<td>
						%% item['item'].url %%

						{% if item['item'].kind == 'image' or item['item'].kind == 'html' %}
							<a href="%% item['url'] %%" target="_blank" class=""><i class="fa-solid fa-eye"></i></a>
						{% endif %}
					</td>
					<td class="ms-text-center">%% item['item'].duration %%</td>
					<td>
						{% if item['item'].kind == 'image' %}
							{% if item['item'].fullscreen %}
							<span>Stretched</span>
							{% else %}
							<span>Centered</span>
							{% endif %}
						{% endif %}
					</td>
					<td>
						{% if item['item'].kind == 'image' %}
							%% item['item'].background_color %%
						{% endif %}
					</td>
					<td class="ms-text-center">
						{% if model.authenticated %}
							{% if item['index'] > 0 %}
							<button type="button" data-index="%% item['index'] %%" class="ms-btn ms-small ms-rounded js-move-up">
								<i class="fa-solid fa-arrow-up"></i>
							</button>
							{% endif %}
							{% if item['index'] < model.item_count - 1 %} 
							<button type="button" data-index="%% item['index'] %%" class="ms-btn ms-small ms-rounded js-move-down">
								<i class="fa-solid fa-arrow-down"></i>
							</button>
							{% endif %}
						{% endif %}
					</td>
					<td class="ms-text-center">
						{% if model.authenticated %}
							<button type="button" data-index="%% item['index'] %%" class="ms-btn ms-small ms-rounded js-activate">
								<i class="fa-solid fa-play"></i>
							</button>
							<button type="button" data-index="%% item['index'] %%" class="ms-btn ms-small ms-rounded js-delete">
								<i class="fa-solid fa-trash"></i>
							</button>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-1 col-1 spacer-one">&nbsp;</div>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript" src="%% url_for('static', filename='js/app.js') %%"></script>

<script type="text/javascript">
	$(function () {
		init_schedule_page();
	}); // => document ready callback
</script>

{% endblock %}