{% extends '_layout.html' %}

{% block pagetitle %}
Pi Kiosk
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12 col-12 spacer-two">&nbsp;</div>
</div>

<!--<div class="row">
		<div class="col-12">
			<div class="ms-alert ms-outline-success info-block">
				{{ counter }} {{ info }}
			</div>
		</div>
	</div>-->

<!--<div class="row">
		<div class="col-md-12 col-1 spacer-one">
			<a href="/new" class="ms-btn ms-success">Add New</a>
		</div>
	</div>-->

<div class="row">
    <div class="col-md">

        <form method="post" action="%% url_for('add_image') %%">
            <div class="row">
                <h2>Add Image</h2>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 spacer-two">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="ms-form-group">
                        <label for="imagename">Image</label>
                        <select id="imagename" name="imagename">
                            <option value="">-select-</option>
                            {% for imagename in model.available_images: %}
                            <option value="%% imagename %%">%% imagename %%</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="ms-form-group">
                        <label for="bgcolor">Background Color</label>
                        <input type="text" placeholder="#00FF00" id="bgcolor" name="bgcolor" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="ms-form-group">
                        <label for="duration">Duration (seconds)</label>
                        <input type="text" placeholder="60" id="duration"  name="duration"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <button type="submit" class="ms-btn ms-primary ms-success">Add</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12 col-12 spacer-two">&nbsp;</div>
        </div>

        <form action="%% url_for('upload_file') %%" method="POST" enctype="multipart/form-data">
            <div class="row">
                <h2>Upload Image or HTML file</h2>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 spacer-two">&nbsp;</div>
            </div>
            <div class="row">
                <div class="cols-sm">
                    <div class="ms-form-group">
                        <label for="file">File</label>
                        <input type="file" name="file" id="file" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <button type="submit" class="ms-btn ms-primary ms-success">Upload</button>
                </div>
            </div>
        </form>
    </div>


    <div class="col-md">
        <form method="post" action="%% url_for('add_url') %%">
            <div class="row">
                <h2>Add Url</h2>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 spacer-two">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="ms-form-group">
                        <label for="url">Url</label>
                        <input type="text" placeholder="https://www.coderdojo.be" id="url" name="url" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="ms-form-group">
                        <label for="duration">Duration (seconds)</label>
                        <input type="text" placeholder="60" id="duration" name="duration" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <button type="submit" class="ms-btn ms-primary ms-success">Add</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12 col-12 spacer-two">&nbsp;</div>
        </div>

        <form method="post" action="%% url_for('add_html') %%">
            <div class="row">
                <h2>Add Html</h2>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 spacer-two">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="ms-form-group">
                        <label for="htmlname">Html page</label>
                        <select id="htmlname" name="htmlname">
                            <option value="">-select-</option>
                            {% for htmlname in model.available_htmls: %}
                            <option value="%% htmlname %%">%% htmlname %%</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="ms-form-group">
                        <label for="duration">Duration (seconds)</label>
                        <input type="text" placeholder="60" id="duration" name="duration" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <button type="submit" class="ms-btn ms-primary ms-success">Add</button>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="row">
    <div class="col-ms ms-text-right">
        <a href="%% url_for('index') %%" class="ms-btn ms-warning">Cancel</a>
    </div>
</div>

<div class="row">
    <div class="col-md-1 col-1 spacer-one">&nbsp;</div>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript" src="%% url_for('static', filename='js/app.js') %%"></script>

{% endblock %}