{% extends '_layout.html' %}

{% block pagetitle %}
Status
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-md-12 col-12">
		<h1>%% model.title %%</h1>
	</div>
</div>

<table class="ms-table">
<tbody>
    <tr>
        <td>Product</td>
        <td>%% model.status.product %%</td>
    </tr>
    <tr>
        <td>UserAgent</td>
        <td>%% model.status.useragent %%</td>
    </tr>
    <tr>
        <td>Javascript version</td>
        <td>%% model.status.javascript_version %%</td>
    </tr>
    <!-- <tr>
        <td>GPU</td>
        <td></td>
    </tr>-->
    <tr>
        <td>Current page</td>
        <td>%% model.status.current_page %%</td>
    </tr>
    <tr>
        <td>Screen</td>
        <td>
            <button class="sm-btn js-show-ss-btn" type="button">Show</button>
            <span class="js-loading-ss ms-text-info" style="display: none;">Loading...</span>
            <img src="" onload="show_ss()" alt="Screenshot" class="js-ss-img" style="display: none;max-width: 100%;" />
        </td>
    </tr>
</tbody>
</table>

{% endblock %}

{% block javascript %}

<script type="text/javascript" src="%% url_for('static', filename='js/app.js') %%"></script>

<script>
	$(function () {
		init_status_page("%% url_for('screenshot') %%");
	}); // => document ready callback
</script>

{% endblock %}
