.arrow-button
{
	width: 100px;
	height: 40px;
}

.action-button
{
	margin-right: 4px;
}

.special-button
{
	margin-right: 4px;
}

.center-button
{
	margin: auto 0;
    text-align: center;
}

.container {
	padding-right: 0;
	width: 96%;
}

.row {
	margin-right: 0;
}

.spacer-one {
	height: 50px;
}

html.bare, body.bare {
	padding: 0;
	margin: 0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.imagecontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 800px;
}

img.logo
{
	width: 100px;
}