.arrow-button
{
	width: 100px;
	height: 40px;
}

.action-button
{
	margin-right: 4px;
}

.special-button
{
	margin-right: 4px;
}

.center-button
{
	margin: auto 0;
    text-align: center;
}

.container {
	padding-right: 0;
	width: 96%;
}

.row {
	margin-right: 0;
}

.spacer-one {
	height: 50px;
}

.spacer-two {
	height: 25px;
}

html.bare, body.bare {
	padding: 0;
	margin: 0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.imagecontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

img.logo
{
	width: 32px;
}

img.logo-coderdojo
{
	margin-top: 8px;
}

img.logo-raspberry-pi
{
	margin-top: 4px;
}

.ms-menu .ms-menu-logo img {
	max-height: 24px;
}

.main-body {
	min-height: 600px;
}

footer {
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: black;
}

input[type='file'] {
	padding-top: 5px;
	padding-left: 5px;
}
