<html data-theme="dark">
	<head>
		<title>
			{% block title %}
				Default Title
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1">

		<!-- See https://minstyle.io/docs/ -->
		<link rel="stylesheet" href="%% url_for('static', filename='css/minstyle.io.css') %%">
		<link rel="stylesheet" href="%% url_for('static', filename='css/style.css') %%">

		<script type="text/javascript" src="%% url_for('static', filename='js/cash.min.js') %%"></script>

		{% block head %}
		{% endblock %}

	</head>
	<body class="dark">
		<div class="ms-content">
			<div class="ms-menu">
			    <div class="ms-menu-logo">
			    	<p><a href="%% url_for('about') %%"><img src="%% url_for('static', filename='img/logo.png') %%" alt="LED Box" /></a></p>
			    </div>
			    <div class="ms-menu-logo">
			    	<p>%% model.title %%</p>
			    </div>
			    <div class="ms-menu-logo">
			    	<p class="ms-text-info" id="current-action">%% model.current_action %%</p>
			    </div>
			</div>
		</div>

		<div class="container">
		{% block body %}
		{% endblock %}
		</div>

		{% block javascript %}
		{% endblock %}
	</body>
</html>
