{% extends '_layout.html' %}

{% block title %}
Pi Kiosk
{% endblock %}

{% block head %}

<!--<script type="text/javascript" src="%% url_for('static', filename='js/vue3/vue.global.js') %%"></script>-->

{% endblock %}

{% block body %}

<div id="kiosk-vue">
	<div class="row">
		<div class="col-12">
			<div class="ms-alert ms-outline-success info-block">
				{{ counter }} {{ info }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1 col-1 spacer-one">&nbsp;</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-12">
			<table class="ms-table">
				<thead>
				<tr>
					<th>Type</th>
					<th>Url</th>
					<th>Fullscreen</th>
					<th>Duration</th>
					<th>Background<br/>Color</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				{% for item in model.items: %}
				<tr>
					<td>%% item.kind %%</td>
					<td>%% item.url %%</td>
					<td>%% item.fullscreen %%</td>
					<td>%% item.duration %%</td>
					<td>%% item.background_color %%</td>
					<td><button class="ms-btn ms-danger">x</button></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>

			<button class="ms-btn ms-success special-button" v-on:click="specialClick('random')">Random</button>
			<button class="ms-btn ms-warning special-button" v-on:click="specialClick('off')">Off</button>
			<button class="ms-btn ms-danger special-button" v-on:click="specialClick('shutdown')">Shutdown</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1 col-1 spacer-one">&nbsp;</div>
	</div>
</div>

<div>
	<div class="row">
		<div class="col-12">

			<img class="logo" src="%% url_for('static', filename='img/coderdojo-icon.svg') %%" alt="Coderdojo" />
			<img class="logo" src="%% url_for('static', filename='img/raspberry-pi-icon.svg') %%" alt="Raspberry Pi" />
	
		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript" src="%% url_for('static', filename='js/app.js') %%"></script>

{% endblock %}
